<form [formGroup]="form" (ngSubmit)="onGrabar()">
  <!-- ID oculto -->
  <input type="hidden" formControlName="id" />

  <!-- TÍTULO -->
  <div class="form-group">
    <label for="titulo">Título</label>
    <input id="titulo" type="text" formControlName="titulo" placeholder="Ej: Tarta de queso" />
  </div>


  <!-- DESCRIPCIÓN -->
  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <textarea
      id="descripcion"
      formControlName="descripcion"
      name="descripcion"
      placeholder="Describe brevemente la receta"
      rows="3"
    ></textarea>
  </div>

  <!-- TIEMPO DE PREPARACIÓN -->
  <div class="form-group">
    <label for="tiempo_preparacion">Tiempo de preparación (minutos)</label>
    <input
      id="tiempo_preparacion"
      type="number"
      min="1"
      max="999"
      formControlName="tiempo_preparacion"
      name="tiempo_preparacion"
      placeholder="Ej: 45"
    />
  </div>

  <!-- DIFICULTAD: radio -->
  <div class="form-group">
    <label>Dificultad</label>

    <div class="radio-group">
      <label>
        <input
          type="radio"
          formControlName="dificultad"
          id="dificultad"
          name="dificultad"
          value="baja"
        />
        <span>Baja</span>
      </label>

      <label>
        <input
          type="radio"
          formControlName="dificultad"
          id="dificultad"
          name="dificultad"
          value="media"
        />
        <span>Media</span>
      </label>

      <label>
        <input
          type="radio"
          formControlName="dificultad"
          id="dificultad"
          name="dificultad"
          value="alta"
        />
        <span>Alta</span>
      </label>
    </div>
  </div>

  <!-- CATEGORÍA: SELECT -->
  <div class="form-group">
    <label for="categoria">Categoría</label>
    <select id="categoria" formControlName="categoria">
      <option value="" disabled selected>Selecciona categoría</option>
      @for (categoria of categorias; track categoria.id) {
      <option [value]="categoria.id">{{ categoria.nombre }}</option>
      }
    </select>
  </div>

  <!-- IMAGEN TYPE="FILE" -->
  <div class="form-group">
    <label for="imagen">Imagen de la receta</label>
    <input id="imagen" type="file" accept="image/*" (change)="onImagenSeleccionada($event)" />

    <!-- Vista previa -->
    @if (receta && receta.imagen_preview) {
    <img [src]="receta.imagen_preview" alt="Vista previa" class="preview-img" />
    }
  </div>

  <!-- USUARIO -->
  <div class="form-group">
    <label for="usuario">Nombre del Usuario</label>
    <input id="usuario" type="text" readonly [(ngModel)]="receta!.usuario!.nombre" [ngModelOptions]="{ standalone: true }"/>
  </div>

  <!-- INGREDIENTES: TABLA DINÁMICA -->
  <div>
    <table id="tabla-ingredientes">
      <thead>
        <tr>
          <th>Ingrediente</th>
          <th>Cantidad</th>
          <th>Unidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (ingrediente of receta!.ingredientes; track $index) {
        <tr>
          <td>
            <select
              [(ngModel)]="ingrediente.ingrediente.id"
              name="nombre-{{ $index }}"
              [ngModelOptions]="{ standalone: true }"
            >
              <option value="" disabled>Seleccione un ingrediente</option>

              @for (ingrediente of ingredientes; track $index) {
              <option [value]="ingrediente.id">{{ ingrediente.nombre }}</option>
              }
            </select>
          </td>
          <td>
            <input
              type="number"
              min="0"
              [(ngModel)]="ingrediente.cantidad"
              name="cantidad-{{ $index }}"
              placeholder="Ej: 200"
              [ngModelOptions]="{ standalone: true }"
            />
          </td>
          <td>
            <input
              type="text"
              [(ngModel)]="ingrediente.unidad"
              name="unidad-{{ $index }}"
              placeholder="Ej: gramos"
              [ngModelOptions]="{ standalone: true }"
            />
          </td>
          <td>
            <button type="button" (click)="eliminarIngrediente($index)">Eliminar</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <button type="button" (click)="agregarIngrediente()">Agregar Ingrediente</button>
  </div>

  <!-- INTRUCCIONES: TABLA DINAMICA -->
   <div>
    <table id="tabla-instrucciones">
      <thead>
        <tr>
          <th>Instrucción</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (instruccion of receta!.instrucciones; track $index) {
        <tr>
          <td>
            <textarea
              [(ngModel)]="instruccion.descripcion"
              name="instruccion-{{ $index }}"
              placeholder="Describe la instrucción"
              rows="2"
              [ngModelOptions]="{ standalone: true }"
            ></textarea>
          </td>
          <td>
            <input
              type="file"
              accept="image/*"
              (change)="onInstruccionImagenSeleccionada($event, $index)"
            />
            <!-- Vista previa -->
            @if (instruccion.imagen_url) {
            <img [src]="instruccion.imagen_url" alt="Vista previa" class="preview-img" />
            }
          </td>
          <td>
            <button type="button" (click)="eliminarInstruccion($index)">Eliminar</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <button type="button" (click)="agregarInstruccion()">Agregar Instrucción</button>
   </div>

  <!-- BOTONES -->
  <div class="form-buttons">
    <button type="submit" [disabled]="form.invalid">Confirmar</button>
    <button type="button" (click)="onCancelar()">Cancelar</button>
  </div>
</form>
