<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Receta Share App</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />

</head>
<body>
  <header class="encabezado">
    <div class="contenido-encabezado contenedor">
      <div class="logo">
         <span>RecetasApp</span>
      </div>

      <nav class="navegacion">
        <a href="">Inicio</a>
        <a href="categoria">Categorías</a>
        <a href="ingrediente">Ingredientes</a>
        <a href="receta">Recetas</a>

        @if (storageService.isAdmin()) {
          <ul class="submenu">
            <li>
              <a href="#">Admin</a>
              <ul class="submenu-desplegable">
                <li><a href="admin-categoria">Categorias</a></li>
                <li><a href="admin-ingrediente">Ingredientes</a></li>
              </ul>
            </li>
          </ul>
        }
      </nav>

      <div class="acciones-encabezado">
        <button class="cambiar-tema" id="boton-tema" (click)="toggleTheme()">
            <span class="icono-sol">☀️</span>
            <span class="icono-luna">🌙</span>
        </button>

      </div>

      @if (storageService.isLoggedIn()) {
        <span>Bienvenido/a {{ storageService.nombreUsuario() }}</span>
        <button (click)="storageService.logout()" class="boton-secundario">🚪 Cerrar sesión</button>
      } @else {
        <a href="login" class="boton-secundario">👤 Iniciar sesión</a>
      }
    </div>
  </header>



  <router-outlet></router-outlet>



  <footer class="pie">
    <div class="contenido-pie contenedor">
      <div class="logo-pie">🍳 RecetasApp</div>
      <div class="seccion-pie">
        <h4>Sobre nosotros</h4>
        <p>RecetasApp es tu comunidad culinaria para compartir y descubrir nuevas ideas de cocina.</p>
      </div>
      <div class="seccion-pie">
        <h4>Enlaces útiles</h4>
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="categoria">Categorías</a></li>
          <li><a href="receta">Recetas</a></li>
          <li><a href="contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="seccion-pie">
        <h4>Síguenos</h4>
        <div class="redes-sociales">

          <a href="#">📸</a>
          <a href="#">🎵</a>
          <a href="#">🐦</a>
          <a href="#">📘</a>

        </div>
      </div>
    </div>

    <div class="pie-inferior contenedor">
      <p>© 2025 RecetasApp. Todos los derechos reservados.</p>
      <p>Hecho con ❤️ para amantes de la cocina.</p>

    </div>
  </footer>

</body>
</html>
