<section class="ingredientes-pagina contenedor">

  <h1 class="titulo-seccion">🧅 Ingredientes</h1>

  <p class="descripcion-seccion">
    Lista de ingredientes disponibles en el sistema.
  </p>

  <div class="lista-ingredientes">

    @defer (when ingredientes.length > 0) {

      @for (ingrediente of ingredientes; track $index) {

        <div class="ingrediente-item">
          <span class="nombre-ingrediente">{{ ingrediente.nombre }}</span>

          
        </div>

      }

    } @placeholder {

      <p>Cargando ingredientes...</p>

    }

  </div>

</section>
