<div>
  Listado de recetas

  @if (estado === 4) {
    <p>Procesando datos...</p>
  }

  <div>
    <select (change)="filtrarPorCategoria($event.target)">
      <option value="">Todas las categorias</option>
      @for (categoria of categorias; track $index) {
        <option [value]="categoria.id">{{ categoria.nombre }}</option>
      }
    </select>
  </div>

  <div>
    <button (click)="agregarReceta()">Agregar Receta</button>
  </div>


@switch (estado) {
  @case (0) {
    <div class="container">
      <div>Recetas </div>
      @if (recetas.length > 0) {
        <app-receta-tabla
          [recetas]="recetas"
          (editarRecetaEvent)="onEditarReceta($event)"
          (eliminarRecetaEvent)="onEliminarReceta($event)"
        ></app-receta-tabla>
      } @else {
        <p>No hay recetas cargadas</p>
      }
    </div>
  }
  @case (1) {
    <div class="container">
      <div>Agregando</div>
      <app-receta-form
          (guardarReceta)="onGuardar($event)"
          (cancelarAccion)="onCancelar()"
          [receta]="receta"
      ></app-receta-form>
    </div>
  }
  @case (2) {
    <div class="container">
      <div>Editando</div>
      <app-receta-form
          (guardarReceta)="onGuardar($event)"
          (cancelarAccion)="onCancelar()"
          [receta]="receta"
      ></app-receta-form>
    </div>
  }
  @case (3) {
    <div class="container">
      <div>Confirmar Eliminacion</div>
      <app-receta-form
          (guardarReceta)="onGuardar($event)"
          (cancelarAccion)="onCancelar()"
          [receta]="receta"
      ></app-receta-form>
    </div>
  }
}



</div>
